<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Galaxy Tour</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="galaxy_tour/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Carousel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="random_selector.html">Random Selector<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="auto_arrange.html">Auto Arrange<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="psychological_test.html">Psychological Test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="simple_rpg.html">Simple RPG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="youtube_player.html">YouTube Player</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="bar_chart_container.html">Bar Chart Container</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="scatter_plot_container.html">Scatter Plot Container</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="line_chart_container.html">Line Chart Container</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Galaxy Tour</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="dynamic_page_vue.html">Dynamic Page Vue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="form_data_practice.html">Form Data Practice</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container marketing">
		<hr class="featurette-divider">
        <h1>Galaxy Tour</h1>
            <div id="app">
                <h2 :class="h2ClassController">{{productName}}</h2>
                <p :style="pStyleController">{{productDescription}}</p>
                <table v-for="(productClass, index) in productClasses" :key="index" width="100%">
                    <tr>
                        <td width="20%">{{productClass.name}}</td>
                        <td width="20%">US${{productClass.price.toLocaleString('en-US')}}</td>
                        <td>
                            <input type=button style="width:35%" v-if="productClass.earlyBird" value="Book Earlybird!">
                            <input type=button style="width:35%" v-else value="Book">
                            <span v-show="productClass.seatsAvaliable < 10" style="color: red">&nbsp;
                                Alomst sold out!
                            </span>
                        </td>
                    </tr>
                </table>
                <img :src="imageSrc[Math.floor(Math.random()*imageSrc.length)]"
                     :style="imageStyleController"
                     :alt="imageAlt" :title="imageAlt">
            </div>
		<hr class="featurette-divider">
		
	  </div><!-- /.container -->
	  <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="assets/js/vendor/holder.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="galaxy_tour/main.js"></script>
  </body>
</html>
